$main_blue: #3CCACE;
$items_light-gray: #ECEBEB;
$white: #fff;
$dimwhite: #f8f8f8;
$black: #272727;
$table_gray: #eee;
$table_border_gray: #dedede;


$bgc-gray: #f5f5f5;
$text-black: #333;
$red: #ea352d;
$tab-gray: #eee;
$tab-head: #fafafa;
$empty-content-text : #ccc;
