$main_blue: #3CCACE;
$items_light-gray: #ECEBEB;
$white: #fff;
$dimwhite: #F8F8F8;
$black: #272727;
$table_gray: #eee;
$table_border_gray: #DEDEDE;
$bgc-gray: #F5F5F5;
$text-black: #333;
$red: #EA352D;
$tab-gray: #eee;
$tab-head: #FAFAFA;
$empty-content-text : #ccc;