.account-page
  .account-page__header
    .account-page__header__box
      =link_to '/'do
        =image_tag 'logo.png', height: '50px'


  .account-page__signup
    %h2 登録が完了しました
    %br
    = link_to root_path, class: "account-page__signup__done" do
      トップページに戻る
  .account-page__footer
