%aside.banner
  .banner__inner
    %h2.banner__inner__title だれでもかんたん、人生を変えるフリマアプリ
    %p.banner__inner__text 今すぐ無料ダウンロード！
    .btn
      = link_to image_tag("app-store.svg", alt: "サンプル画像" ,class: "aBtn"), {}
      = link_to image_tag("google-play.svg", alt: "サンプル画像",class: "gBtn"), {}
