.breadcrumbs {
  position: relative;
  border-top: 1px solid #eee;
  width: 100%;
  
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);;
  &__list {
    position: relative;
    max-width: 1040px;
    margin: 0 auto;
    width: 100%;
    padding: 16px 0;
    &__content {
      text-decoration: black;
    }
  }
}