.new-header{
  background-color: $items_light-gray;
  height: 150px;
  text-align: center;
  &__image{
  height: 60px;
  margin-top: 50px;
  }
}

.new-contents{
  background-color: $items_light-gray;
  &__box{
    background-color: #ffffff;
    width: 650px;
    height: auto;
    margin: 0 auto;
    padding: 40px;
    
    &__main-title{
    color: #c0c0c0;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.4em;
    margin-bottom: 24px;
    }
    &__title{
      font-size: 14px;
      font-weight: 600;
      line-height: 1.4em;
      margin-bottom: 10px; 
      position: relative;
      .required{
        color: #ffffff;
        background-color: $main_blue;
        margin: 0 0 0 8px;
        padding: 2px 4px;
        font-size: 12px;
        border-radius: 2px;
      }
      .any{
        color: #ffffff;
        background-color: #bfbfbf;
        margin: 0 0 0 8px;
        padding: 2px 4px;
        font-size: 12px;
        border-radius: 2px;
      }
      .yen{
        position: absolute;
        top: 38px;
        left: 375px;
        
      }
      
    }
    &__image-text{
      font-size: 13px;
      margin-bottom: 5px;
    }
    .flexbox{
      display: flex;
      flex-wrap: wrap;
      width: 660px;
    }
    .file-field{
      display: none;
    }
    .new-contents__box__preview,.new-contents__box__preview-first{
      display: flex;
      flex-wrap: wrap;
      &__image{
        position: relative;
        padding: 1px;
        margin: 1px;
        border: 1px dashed #ccc;
        background-color: #ecebeb;
        &__img{
          width: 120px;
          height: 120px;
          margin: 2px;
          object-fit: cover;
        }
        .delete{
          text-align: center;
          font-size: 12px;
        }
      }
    }
    &__image-area{
      background-color: $items_light-gray;
      height: 150px;
      width: 650px;
      font-size: 12px;
      text-align: center;
      border: 1px dashed #ccc;
      display: flex;
      justify-content: center;
      position: relative;
      i{
        font-size: 20px;
        height: 20px;
        position: absolute;
        top: 20px;
      }
      &__text{
        padding-top: 60px;
      }
    }
    .file_field{
      display: none;
    }
    &__input{
      height: 48px;
      width: 100%;
      padding: 0 16px;
      border: 1px solid #ccc;
      box-sizing: border-box;
      border-radius: 4px;
      margin-bottom: 24px;
    
    }
    &__textarea{
      height: 150px;
      width: 100%;
      padding: 13px 16px;
      border: 1px solid #ccc;
      box-sizing: border-box;
      border-radius: 4px;
    }
    &__select{
      height: 48px;
      width: 100%;
      padding: 0 16px;
      border: 1px solid #ccc;
      box-sizing: border-box;
      margin-bottom: 24px;
      &__input{
        width: 100%;
        margin: 0;
      }
    }
    
    &__input-yen{
      text-align: right;
      height: 48px;
      width: 250px;
      padding: 0 16px;
      border: 1px solid #ccc;
      box-sizing: border-box;
      border-radius: 4px;
      margin-top: 24px;
      float: right;
      &__submit{
        background-color: $main_blue;
        color: #ffffff;
        height: 48px;
        width: 250px;
        padding: 0 20px;
        box-sizing: border-box;
        border-radius: 4px;
        margin: 20px 220px;
      }

    }
    &__attention{
      font-size: 12px;
      margin-top: 50px;
    }
  }
  hr{
    border: 1px solid transparent;
    margin: 0;
  }
}
.new-footer{
  background-color: $items_light-gray;
  height: 150px;
  text-align: center;
  &__image{
    height: 50px;
    margin-top: 50px;
  }
  &__text{
    font-size: 12px;

  }

}
.erorr-message{
  font-size: 10px;
  color: red;
  display: contents;
}