html {
  font-family: YuGothic;
}

a {
  text-decoration: none;
  color: $main_blue;
}

.clreafix::after {
  content: "";
  clear: both;
  display: block;
}

.main {
  padding: 40px;
  background-color: $dimwhite;
}

.item-contents {
  width: 700px;
  margin: 0 auto;
  .item-box {
    padding: 24px 40px 40px;
    background-color: $white;
    h2 {
      text-align: center;
      font-size: 24px;
      font-weight: bold;
    }
    .item-box-image {
      margin: 0 30px;
      align-items: center;
      &__sold-mark {
        width: 0;
        height: 0;
        border-top: 80px solid $main_blue ;
        border-right: 80px solid transparent;
        border-bottom: 80px solid transparent;
        border-left: 80px solid $main_blue ;
        z-index:100;
        position: absolute;
        &--text {
          transform: rotate(-45deg);
          font-size: 28px;
          margin:-25px 0px 0px -55px;
          color: #fff;
          letter-spacing: 2px;
          font-weight: 600;
        }
      }
      &__main {
        width: 560px;
        height: 346px;
        object-fit: cover;
      }
      ul {
        margin-top: 10px;
        display: flex;
        flex-flow: wrap;
      }
      &__thumbnail {
        width: 20%;
        height: 87px;
        opacity: 0.4;
        object-fit: cover;
      }
      .active {
        opacity: 1;
      }
      }
      &__price {
        margin: 24px 0;
        text-align: center;
        font-family: Helvetica;
        font-size: 46px;
        font-weight: bold;
        &--detail {
          display: block;
          font-size: 16px;
          font-weight: normal;
        }
      }
      &__item-change-btn {
        display: block;
        width: 620px;
        height: 60px;
        font-size: 20px;
        color: $white;
        line-height: 60px;
        background-color: $main_blue;
        text-align: center;
        margin: 15px 0;
      }
      p {
        text-align: center;
        font-size: 16px;
      }
      &__item-delete-btn {
        display: block;
        width: 620px;
        height: 60px;
        font-size: 20px;
        color: $white;
        line-height: 60px;
        background-color: #aaa;
        text-align: center;
        margin: 15px 0;
      }
      &__order-btn {
        display: block;
        width: 620px;
        height: 60px;
        font-size: 26px;
        font-weight: bold;
        color: $white;
        line-height: 60px;
        background-color: $main_blue;
        text-align: center;
        margin-bottom: 30px;
      }
      &__sold-tag {
        display: block;
        width: 620px;
        height: 60px;
        font-weight: bold;
        color: $white;
        line-height: 60px;
        background-color: #aaa;
        text-align: center;
        margin-bottom: 30px;
      }
      p {
        font-size: 30px;
      }
      &__item-detail {
        font-size: 18px;
        margin-bottom: 30px;
      }
      .table {
        margin-bottom: 20px;
        td,th {
          border-collapse: collapse;
          border: 1px solid $table_border_gray;
          font-size: 14px;
          height: 47px;
        }
        th {
          width: 152px;
          background-color: $table_gray;
          text-align: center;
        }
        td {
          width: 467px;
          padding: 15px;
          &--prefecture {
          }
        }
      }
      &__option-area {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &--like-btn {
          padding: 6px 10px;
          border-radius: 40px;
          color: $main_blue;
          border: 1px solid #ffb340;
        }
        &--optional-btn {
          padding: 6px 10px;
          border-radius: 4px;
          color: $black;
          font-size: 14px;
          line-height: 18px;
          border: 1px solid ;
          text-decoration: none;
        }
      }
  }

  .comment-box {
    margin: 10px 0;
    padding: 24px;
    background-color: $white;
    .comment-form {
      text-align: center;
      p {
        margin: 10px 0;
        padding: 8px;
        font-size: 14px;
        text-align: left;
        background-color: $dimwhite;
      }
      .comment-input {
        width: 100%;
        min-height: 100px;
        margin-right: 10px;
        overflow: auto;
      }
      .comment-btn {
        color: $white;
        text-decoration: none;
        background-color: $main_blue;
        border: 1px solid $main_blue;
        height: 60px;
        width: 60%;
        font-size: 18px;
        border-radius: 100px;
      }
    }
  }

  ul.nav-item-link {
    width: 700px;
    a.nav-item-prev {
      float: left;
    }
    a.nav-item-next {
      float: right;
    }
  }

  .relayted-items {
    margin: 24px 0 8px;
    a {
      font-size: 22px;
      font-weight: bold;
    }
  }
}
